/* Gallery.css */
.gallery {
    padding: 4rem 2rem;
    text-align: center;
   background: url('./hero-bg.jpg') no-repeat center center/cover; 
    /*  background-color: aqua;*/
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}