/* Hero.css */
.hero {
    height: 100vh;
    background: url('./hero-bg.jpg') no-repeat center center/cover;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-logo {
    height: 250px; /* Adjust the size as needed */
    width: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 6rem;
    margin-bottom: 0rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-content button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content button:hover {
    background-color: #ff6f61;
}